* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100hv;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: row;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 500px;
  min-width: 1200px;
}

.card-containter {
  display: flex;
  flex-direction: column;
}

.pokemon-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 10px;
  width: 320px;
  height: 440px;
  cursor: pointer;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  backface-visibility: hidden;
  transition: transform 0.6s linear;
}

.front {
  border: 10px solid yellow;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  transform: perspective(600px) rotateY(0deg);
}

.back {
  border: 10px solid yellow;
  transform: perspective(600px) rotateY(180deg);
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  display: flex;
  flex-direction: column;
  align-content: center;
}

.front .dimension-section {
  background-color: goldenrod;
  white-space: nowrap;
  font-size: small;
  margin: 3px auto;
  width: 95%;
}

.front .img-container {
  background-color: rgba(216, 215, 215, 0.685);
  width: 250px;
  height: 140px;
  text-align: center;
  border: 3px solid goldenrod;
  align-self: center;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.front .img-container img {
  max-width: 50%;
}

.header-section {
  display: flex; /* or inline-flex */
  justify-content: space-between;
}

.back-header-section {
  display: flex;
  flex-direction: row;
}

#back-img {
  position: absolute;
  top: 0;
  right: 6px;
}

#hptxt {
  color: red;
}

.pokemon-type {
  display: flex;
  flex-direction: row;
}

.pokemon-abilities {
  display: flex;
  flex-direction: row;
}

.chip {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
  padding: 4px 8px;
  width: fit-content;
  margin-left: 5px;
}

.abilities-section {
  margin-bottom: 5px;
}

#Progress_Status {
  width: 60%;
  background-color: #ddd;
  position: relative;
}

.myprogressBar {
  width: 1%;
  height: 15px;
  background-color: #4caf50;
  text-align: center;
  color: white;
  font-size: 15px;
  margin: 0;
}

.stat-section {
  display: flex;
  flex-direction: column;
}

#type-section {
  margin-top: 55px;
}

.left-arrow {
  margin-top: 25px;
  margin-left: 15px;
}

.right-arrow {
  margin-top: 25px;
  margin-right: 15px;
}

.toggle-label {
  background-color: gainsboro;
  display: inline-block;
  border-radius: 50px;
  height: 26px;
  width: 50px;
  position: relative;
}

.ball {
  background-color: white;
  height: 22px;
  width: 22px;
  position: absolute;
  border-radius: 50%;
  bottom: 1.8px;
  left: 1px;
  align-items: center;
  justify-content: center;
  animation: slideOff 0.3s linear forwards;
}

.checkbox:checked + .toggle-label .ball {
  animation: slideOn 0.3s linear forwards;
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox:checked + .toggle-label {
  background-color: goldenrod;
}

.pokelist-container {
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}

.pokelist-title {
  margin: 0;
}

.pokelist-subtitle {
  display: inline-block;
  margin: 5px 0 20px;
  opacity: 0.8;
}

.pokelist-header {
  background-color: goldenrod;
  color: #fff;
  padding: 30px 20px;
}

.pokelist-header input {
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  padding: 10px 15px;
  width: 100%;
}

.pokelist-header input::placeholder {
  color: #fff;
}

.pokelist-header input:focus {
  outline: none;
}

.poke-list {
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  max-height: 400px;
  padding: 0;
  overflow-y: auto;
}

.poke-list .poke-info h4 {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 10px;
}

.poke-list .poke-info p {
  font-size: 12px;
  margin: 0;
  padding-bottom: 5px;
}

.poke-list li:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}

.poke-list li.hide {
  display: none;
}

#result li:hover {
  background-color: rgb(240, 238, 238);
}

@keyframes slideOn {
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(10px) scale(1.2);
  }
  100% {
    transform: translateX(25px) scale(1);
  }
}

@keyframes slideOff {
  0% {
    transform: translateX(25px) scale(1);
  }
  50% {
    transform: translateX(10px) scale(1.2);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
